<!DOCTYPE html>
<html>
<head>
	<title>Update User</title>
</head>
<body>
	<h1>Update User</h1>
	<form method="post"> 
		Username: <input type="text" name="uname" value="<%= old.username%>" > <br>
		User Type: <input type="text" name="type" value="<%= old.type%>" > <br>
		Password: <input type="text" name="password" value="<%= old.password%>"><br>
		<input type="submit" name="submit" value="Submit" >
	</form>
</body>
</html>